.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: white;
  width: 90%;
  max-width: 400px;
  border-radius: 16px;
  padding: 20px;
}

.modal input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  font-size: 16px;
}

.transaction-type {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.transaction-type button {
  flex: 1;
  padding: 10px;
}

.transaction-type .active {
  background: black;
  color: white;
}